@font-face {
    font-family: "../Roboto-Light";
    font-style: normal;
    src: url("/pgs/res/Roboto-Light.ttf");
}

.toast-container {
    bottom: 0px;
    display:flex;
    justify-content:center;
    margin-bottom: 10px;
    position:absolute;
    width: 100%;
}

.toast {
    background-color: lightgray;
    border-radius: 26px;
    bottom: -62px;
    color: darkgray;
    display: inline-flex;
    flex: 0 1 auto;
    height: 52px;
    position:relative;
    transition: bottom 200ms;
}

.toast.shown {
    bottom: 0px;
}

.text {
    float: left
    font-family: "Roboto-Light";
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}

.welcome {
    font-size:12px;
}

.player-name {
    color: gray;
    font-size: 18px;
    height: 1.2em; /* 1.2 allows for descenders */
    max-width: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.player-icon {
    background-color: white;
    border-radius: 50%;
    float:left;
    height: 46px;
    padding: 3px;
    width: 46px;
}

.pgs-icon {
    float:left;
    height:32px;
    margin-right: 14px;
    margin-top: 9px;
    width:32px;
}
