/* Just adding a little bit of style to our game */

body, button, input
{
  font-family: sans-serif;
  color: #333;
}

button, input[type="button"]
{
  font-size: 1em;
}

table { border-collapse: collapse; text-align: right;}
th {padding: 10px; background-color: #0000ee; color: #fcfcfc; font-size: 1.1em;
  border-left: 1px #fcfcfc solid;}
tr { border-bottom: 2px #00008b solid;}
td { vertical-align: top; padding: 10px; }


.medIcon
{
  width: 75px;
  height: 75px;
}

.smallIcon
{
  width: 65px;
  height: 65px;
  padding: 5px;
}

.unlockWidget
{
  position: absolute;
  top: 250px;
  background: #B9B0FA;
  width: 30em;
  border: 5px solid darkblue;
  border-radius: 10px;
}
